<a href="https://colab.research.google.com/github/ttussing/US-Gun-Exploration-Visualization/blob/master/US_Gun_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Things to do 
#Describe how we gathered and cleaned the data 
#2-3 datasets 
#Feature Engineering 
#Describe features 
#Descriptive statistics 
#Describe why we chose the data?

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime

In [0]:
world_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/World_firearms.csv'
state_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/Firearm%20Deaths%20Per%20State%20Per%20Year/All_Firearm_Deaths_State_Year.csv'
state_owner_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/Gun%20Owner%20Stats/Gun_Owner_Statistics_Per_State.csv'
ms_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/Mass%20Shooting/Mass_Shooting_Data_2013-2019.csv'
df_world = pd.read_csv(world_url)
df_state = pd.read_csv(state_url)
df_st_owner = pd.read_csv(state_owner_url)
df_ms = pd.read_csv(ms_url)

## World Firearms Data
**Allows us to see which countries have the highest firearm ownership rates and which have the highest murder rates.**

[Article Describing the Data Set](https://www.theguardian.com/news/datablog/2012/jul/22/gun-homicides-ownership-world-list#data)


---



**Description of the Dataset:**

- A collection of data about the world's firearms murders and gun ownership statistics were compiled in a [Google Sheet](https://docs.google.com/spreadsheets/d/1chqUZHuY6cXYrRYkuE0uwXisGaYvr7durZHJhpLGycs/edit#gid=0). 
- The data is compiled from 2 data sources:

  - The data on firearm homicides was collected by the UNODC through its annual crime survey. This includes the percent of homicides from using a firearm, the number of homicides from using a firearm, and the rate of homicide rate per 100,000 in the population. 
   
  - The data on gun ownership was collected by the small arms survey. This includes the average firearms per 100 people, the average number of civilian firearms, and rank by the rate of gun ownership. The data has been normalized for a rate per 100,000 population. 

- Limitations:
  - Data is missing for Russia, China, and Afghanistan
  - While the Google Spreadsheet says that it is being automatically updated every 5 minutes, the columns for homicide per country that was collected from the UNODC doesn't have information about what year it is for.
   - The data is from an annual crime survey, and it doesn't say if the numbers are being averaged across all years, or if the numbers are for the latest year
  - The data from the small arms survey is only from 2007. 


**Takeaways from this Dataset:**

- The United States has the highest gun ownership in the World. 

- Centra/South America leads on all murder stats, far ahead of US
is ahead in murder only when filtering for high HDI countries.

- The US has less than 5% of the world's population but is home to about 35-50% of the world's civilian-owned guns.

In [0]:
df_world = df_world.rename(columns={'Country/Territory':'country', 
                   'ISO code': 'iso_code',
                   '% of homicides by firearm' : 'percent_hom_farm',
                   'Number of homicides by firearm' : 'num_hom_farm', 
                   'Homicide by firearm rate per 100,000 pop' : 'hom_farm_rate_100k',
                   'Rank by rate of ownership' : "rank_rate_ownership",
                   'Average firearms per 100 people' : 'avg_farm_100ppl',
                   'Average total all civilian firearms' : 'avg_tot_civ_farm'
                  }) 

#Interaction Term
df_world['hom_firearms'] = (df_world['avg_farm_100ppl'] * df_world['percent_hom_farm'] )

In [32]:
df_world.head()

     country iso_code  ... avg_tot_civ_farm  hom_firearms
0    Albania       AL  ...         270000.0        566.74
1    Algeria       DZ  ...        1900000.0         36.48
2     Angola       AO  ...        2800000.0           NaN
3   Anguilla       AI  ...              NaN           NaN
4  Argentina       AR  ...        3950000.0        530.40

[5 rows x 10 columns]

### Feature Descriptions

**country:** The country name

**iso_code:** unique code for every country or territory

**source:** original data sources

**percent_hom_farm:** percent of homicides by firearms for every country

**num_hom_farm:** number of homicides by firearm

**hom_farm_rate_100k:** homicide by firearm rate per 100,000 people

**rank_rate_ownership:** rank by rate of ownership

**avg_farm_100ppl:** average firearms per 100 people

**avg_tot_civ_farm:** average of all total civilian firearms

<strong> hom_firearms: </strong> home_farm_rate_100k interacted with percent_hom_farm

**Compare the homicides and firearm ownership of the US to the average across the rest of the world**

In [34]:
# Descriptive Statistics for the United States

dfus = df_world[df_world.country == 'United States']
dfus

           country iso_code  ... avg_tot_civ_farm  hom_firearms
176  United States       US  ...      270000000.0        5328.0

[1 rows x 10 columns]

In [35]:
# Clean Null values and list the average of each column across all countries

print("Average percent of homicides by firearms for all countries is " + str(df_world.percent_hom_farm[df_world.percent_hom_farm.isna() == False].mean()))
print("Average number of homicides by firearm for all countries is " + str(df_world.num_hom_farm[df_world.num_hom_farm.isna() == False].mean()))
print("Average homicide by firearm rate for every 100k people for all countries is " + str(df_world.hom_farm_rate_100k[df_world.hom_farm_rate_100k.isna() == False].mean()))
print("Average rank_rate_ownership for all countries is " + str(df_world.rank_rate_ownership[df_world.rank_rate_ownership.isna() == False].mean()))
print("Average firearms per 100 people for all countries is " + str(df_world.avg_farm_100ppl[df_world.avg_farm_100ppl.isna() == False].mean()))
print("Average total civilians firearms for all countries is " + str(df_world.avg_tot_civ_farm[df_world.avg_tot_civ_farm.isna() == False].mean()))

Average percent of homicides by firearms for all countries is 32.22931034482759
Average number of homicides by firearm for all countries is 1100.0603448275863
Average homicide by firearm rate for every 100k people for all countries is 4.885862068965518
Average rank_rate_ownership for all countries is 88.9090909090909
Average firearms per 100 people for all countries is 10.236931818181821
Average total civilians firearms for all countries is 3659138.6363636362

In [36]:
df_world[['country','hom_firearms']].sort_values(by = 'hom_firearms', ascending = False).reset_index().head(10)

   index        country  hom_firearms
0    176  United States       5328.00
1    162    Switzerland       3299.54
2    130         Panama       1627.50
3    102      Macedonia       1506.25
4    177        Uruguay       1478.70
5    147         Serbia       1251.18
6     67      Guatemala       1100.40
7    161         Sweden       1071.24
8     29         Canada        985.60
9     43         Cyprus        957.32

## United States Firearms Data

**The firearm injury related deaths per state and year due to suicides, homicides and unintentional causes.**

---

**Description of the Dataset:**

- Data on fatal injuries due to firearm was taken from the [CDC](https://www.cdc.gov/injury/wisqars/fatal.html) fatal injury data. 

  - WISQARS Fatalâ€™s mortality reports provide tables of the total numbers of injury-related deaths and the death rates per 100,000 population. The reports lists deaths according to cause (mechanism) and intent (manner) of injury by state, race, Hispanic origin, sex, and age groupings.
  
- Data was collected from 1999 - 2017.

- Mortality data reported in WISQARS come from death certificate data reported to the National Center for Health Statistics (NCHS), CDC. NCHS collects, compiles, verifies and prepares these data for release to the public.

- Data was filtered on firearms as the mechanism for 3 data exports:
  - The intent was filtered on suicides, homicides and unintentional causes separately and exported as 3 csv files. 
  - For ease of having one dataset, these csv files were combined in excel with the intent listed under "Type".

- Limitations: 
  - For sub-national geography, not present or publish death counts of 9 or fewer or death rates based on counts of nine or fewer are presnt as "P" for the value. Since these values are not reliable, they will be replaced with "0" for numerical representation. 

**citation:** Centers for Disease Control and Prevention, National Centers for Injury Prevention and Control. Web-based Injury Statistics Query and Reporting System (WISQARS) [online]. (2005) {cited 2019 May 16}. Available from: www.cdc.gov/injury/wisqars

---
Disclaimer: This data is used for a school research project to report on firearms analysis and may not be repurposed for anything other than statistical reporting and analysis. Make no attempt to learn the identity of any person or establishment included in these data.
Make no disclosure or other use of the identity of any person or establishment discovered inadvertently and advise the NCHS Confidentiality Officer of any such discovery.

"The data source for WISQARS Fatal Injury Data Visualization is the National Vital Statistics System (NVSS) operated by the National Center for Health Statistics. WISQARS provides death counts and death rates for the United States and by state, county, age, race, Hispanic ethnicity, sex, leading cause of death, injury intent, and injury mechanism categories. WISQARS can be used to query death data for the years 2001 - 2017, of which the underlying cause of death is specified using ICD-10 codes. The National Center for Health Statistics (NCHS) in an agreement with the National Association of Public Health Statistics and Information Systems (NAPHSIS) has implemented a new, more restrictive rule for reporting state- and county-level death data for years 2008 and later from NVSS in order to avoid inadvertent disclosure of a decedent's identity. Therefore, the Statistics, Programming and Economics Branch, Division of Analysis, Research, and Practice Integration, NCIPC has modified WISQARS to accommodate the new data suppression rule; i.e., no figure, including totals, should be less than 10 in tabulations for sub-national geographic areas, regardless of the number of years combined with the 2008 and later data. Tabulations, charts, and maps produced by WISQARS using only NVSS death data for years prior to 2008 are not affected by this new rule. Therefore, queries of state-level data for years 1999 through 2007 will remain unrestricted; queries of state-level data that include 2008 or later are restricted. As a WISQARS user, please read the following data use restrictions and click "I Agree." You will then be given access to this WISQARS module."

In [5]:
df_state.head()

           Type         Sex       Race  ... Population Crude Rate Age-Adjusted Rate
0  Unitentional  Both Sexes  All Races  ...    4430143       1.15        1.15722772
1  Unitentional  Both Sexes  All Races  ...    4451687       0.76        0.76222845
2  Unitentional  Both Sexes  All Races  ...    4467634       0.92       0.926071313
3  Unitentional  Both Sexes  All Races  ...    4480089          1       0.997164737
4  Unitentional  Both Sexes  All Races  ...    4503491       0.84        0.82537211

[5 rows x 14 columns]

## Data Cleaning

In [0]:
# copy column 'Cause of Death' to make changes for checking if the column is unecessary
df_state['Cause_of_death_cp'] = df_state['Cause of Death']

In [0]:
# Make column 'Type' and 'Cause of Death' using same wording, so we can compare them and see if they are duplicated
df_state.loc[df_state['Cause_of_death_cp']== 'Unintentional Firearm', 'Cause_of_death_cp']  = 'Unitentional'
df_state.loc[df_state['Cause_of_death_cp'] == 'Suicide Firearm', 'Cause_of_death_cp'] = 'Suicide'
df_state.loc[df_state['Cause_of_death_cp']== 'Homicide/Legal Intervention Firearm', 'Cause_of_death_cp'] = 'Homicide'

Column 'Type' and 'Cause of Death' are suplicated, so we can drop 'Type'

In [8]:
(df_state['Type'] != df_state['Cause_of_death_cp']).sum()

0

Drop unnecessary columns

In [0]:
df_state.drop(['Type','Sex','Race','Ethnicity','Age Group','First Year','Last Year','Crude Rate',\
               'Age-Adjusted Rate','Cause_of_death_cp'],axis = 1, inplace = True)

In [10]:
df_state.head()

     State         Cause of Death    Year Deaths  Population
0  Alabama  Unintentional Firearm  1999.0     51     4430143
1  Alabama  Unintentional Firearm  2000.0     34     4451687
2  Alabama  Unintentional Firearm  2001.0     41     4467634
3  Alabama  Unintentional Firearm  2002.0     45     4480089
4  Alabama  Unintentional Firearm  2003.0     38     4503491

## Create New Column
* Death per capita

In [0]:
# Change 'Deaths' from string to float for calculation
df_state['Deaths'] = pd.to_numeric(df_state['Deaths'], errors='coerce')

In [0]:
df_state['Deaths_per_capita'] = df_state['Deaths']/df_state['Population']

In [13]:
df_state.head()

     State         Cause of Death  ...  Population  Deaths_per_capita
0  Alabama  Unintentional Firearm  ...     4430143           0.000012
1  Alabama  Unintentional Firearm  ...     4451687           0.000008
2  Alabama  Unintentional Firearm  ...     4467634           0.000009
3  Alabama  Unintentional Firearm  ...     4480089           0.000010
4  Alabama  Unintentional Firearm  ...     4503491           0.000008

[5 rows x 6 columns]

In [18]:
df_state.groupby('Year')['Deaths','Deaths_per_capita'].agg(['sum','count','mean','max','min'])

         Deaths                    ... Deaths_per_capita
            sum count        mean  ...              mean       max           min
Year                               ...
1999.0  28441.0   126  225.722222  ...          0.000044  0.000261  8.883575e-07
2000.0  28298.0   121  233.867769  ...          0.000045  0.000243  8.101079e-07
2001.0  29223.0   125  233.784000  ...          0.000044  0.000251  1.100465e-06
2002.0  29840.0   120  248.666667  ...          0.000048  0.000307  8.360418e-07
2003.0  29768.0   123  242.016260  ...          0.000045  0.000274  1.147271e-06
2004.0  29229.0   123  237.634146  ...          0.000044  0.000241  1.147533e-06
2005.0  30329.0   119  254.865546  ...          0.000047  0.000252  1.289090e-06
2006.0  30561.0   120  254.675000  ...          0.000046  0.000212  6.281200e-07
2007.0  30820.0   118  261.186441  ...          0.000047  0.000230  8.710876e-07
2008.0  31210.0   122  255.819672  ...          0.000046  0.000215  5.725458e-07
2009.0  31007.0   120  258.391667  ...          0.000046  0.000179  6.215341e-07
2010.0  31297.0   119  263.000000  ...          0.000047  0.000151  6.442172e-07
2011.0  31984.0   119  268.773109  ...          0.000047  0.000152  6.901558e-07
2012.0  33172.0   116  285.965517  ...          0.000050  0.000177  7.890790e-07
2013.0  33226.0   118  281.576271  ...          0.000049  0.000163  9.127090e-07
2014.0  33196.0   117  283.726496  ...          0.000050  0.000156  5.057253e-07
2015.0  35855.0   119  301.302521  ...          0.000054  0.000169  7.429717e-07
2016.0  38202.0   117  326.512821  ...          0.000056  0.000156  6.293391e-07
2017.0  39277.0   115  341.539130  ...          0.000059  0.000203  8.592392e-07

[19 rows x 10 columns]

## Gun Ownership Per State

**Gun Statistics per State**

[Data Source](http://demographicdata.org/facts-and-figures/gun-ownership-statistics/#)


---

**Description of the Dataset:** 

- This dataset contains a complete set of crime rates, gun deaths and gun ownership rates. There are a total of 51 records and 12 fields which include crime types such as violent, murder, rape, robbery, assault, property, burglary, larceny and motor-related crimes. All data are grouped by state.

- The only statistic we are interested in for this dataset is gun ownership column to merge with the US Firearms Data

In [27]:
df_st_owner.head()

   State Name  ...  Motor Theft (per 100K) 2013
0     Alabama  ...                        204.8
1      Alaska  ...                        208.1
2     Arizona  ...                        292.3
3    Arkansas  ...                        194.1
4  California  ...                        443.2

[5 rows x 12 columns]

## Data Cleaning
Drop unnecessary columns

In [0]:
df_st_owner.drop(['Gun Murder Rate per 100K (2010)','Violent Crime  (per 100,000) 2013','Murder and nonnegligent manslaughter (per 100K) 2013',\
                  'Forcible rape (per 100K) 2013', 'Robbery (per 100K) 2013','Aggravated assault  (per 100K) 2013','Property Crime  (per 100K) 2013',\
                  'Burglary  (per 100K) 2013','Larceny (per 100K) 2013', 'Motor Theft (per 100K) 2013'],axis = 1, inplace = True)

In [30]:
df_st_owner.head()

   State Name Gun Ownership (2007)
0     Alabama                51.7%
1      Alaska                57.8%
2     Arizona                31.1%
3    Arkansas                55.3%
4  California                21.3%

## Mass Shootings in the United States

In [0]:
df_ms.head()

                          name_semicolon_delimited  ...                        sources_semicolon_delimited
date                                                ...
5/15/19  Unkown (victims included a 5-yr-old girl)  ...  https://abc7.com/3-men-5-year-old-girl-shot-at...
5/13/19                                    Unknown  ...  https://www.stltoday.com/news/local/crime-and-...
5/13/19      Unknown (victims included 1 juvenile)  ...  https://www.wdsu.com/article/four-injured-in-c...
5/12/19                                    Unknown  ...  https://6abc.com/5-hurt-after-gunmen-open-fire...
5/11/19                              Thomas Modzel  ...  https://wnep.com/2019/05/11/four-people-shot-a...

[5 rows x 6 columns]

## Data Cleaning
* Drop unnecessary columns
* Change 'state' into same format
* Change 'date' from string to datetime

In [0]:
df_ms.drop(['name_semicolon_delimited','sources_semicolon_delimited'],axis = 1, inplace = True)

In [0]:
df_ms.state = df_ms.state.str.upper().str.rstrip()

In [0]:
df_ms.loc[df_ms.state == 'D.C.', 'state'] = 'DC'
df_ms.loc[df_ms.state == 'PUERTO RICO', 'state'] = 'PR'

In [0]:
df_ms.date = pd.to_datetime(df_ms.date)

## Feature Descriptions 

* date: date when the shooting happened 
* killed: number of people killed
* wounded: number of people wounded
* city: city where the shooting took place
* state: state where the shooting took place

In [0]:
df_ms.head()

        date  killed  wounded          city state
0 2019-05-15       0        4   Los Angeles    CA
1 2019-05-13       4        1     St. Louis    MO
2 2019-05-13       0        4   New Orleans    LA
3 2019-05-12       0        4     Paulsboro    NJ
4 2019-05-11       0        4        Effort    PA

## Create New Columns
* year
* month
* weekday: The day of the week with Monday=0, Sunday=6

In [0]:
df_ms['year'] = df_ms.date.dt.year
df_ms['month'] = df_ms.date.dt.month
df_ms['weekday'] = df_ms.date.dt.weekday

In [0]:
df_ms.head()

        date  killed  wounded          city state  year  month  weekday
0 2019-05-15       0        4   Los Angeles    CA  2019      5        2
1 2019-05-13       4        1     St. Louis    MO  2019      5        0
2 2019-05-13       0        4   New Orleans    LA  2019      5        0
3 2019-05-12       0        4     Paulsboro    NJ  2019      5        6
4 2019-05-11       0        4        Effort    PA  2019      5        5

In [0]:
df_ms.groupby('year')['killed','wounded'].agg(['sum','count','mean','max','min'])

     killed                         wounded
        sum count      mean max min     sum count      mean  max min
year
2013    467   339  1.377581  13   0    1176   339  3.469027   19   0
2014    364   325  1.120000   8   0    1213   325  3.732308   16   0
2015    469   371  1.264151  16   0    1387   371  3.738544   22   0
2016    606   477  1.270440  50   0    1781   477  3.733753   53   0
2017    590   427  1.381733  59   0    1981   427  4.639344  422   0
2018    528   426  1.239437  17   0    1549   426  3.636150   17   0
2019    160   140  1.142857   6   0     497   140  3.550000    8   0

In [0]:
df_ms.groupby('month')['killed','wounded'].agg(['sum','count','mean','max','min'])

      killed                         wounded
         sum count      mean max min     sum count      mean  max min
month
1        282   185  1.524324   6   0     586   185  3.167568   14   0
2        299   170  1.758824  17   0     553   170  3.252941   17   0
3        211   177  1.192090   6   0     630   177  3.559322   15   0
4        253   229  1.104803   8   0     818   229  3.572052   16   0
5        255   217  1.175115  10   0     843   217  3.884793   19   0
6        332   260  1.276923  50   0    1023   260  3.934615   53   0
7        285   279  1.021505   7   0    1080   279  3.870968   25   0
8        243   252  0.964286   8   0     953   252  3.781746   13   0
9        247   215  1.148837  13   0     804   215  3.739535   15   0
10       286   176  1.625000  59   0    1061   176  6.028409  422   0
11       289   188  1.537234  27   0     686   188  3.648936   20   0
12       202   157  1.286624  16   0     547   157  3.484076   22   0

In [0]:
df_ms.groupby('weekday')['killed','wounded'].agg(['sum','count','mean','max','min'])

        killed                         wounded
           sum count      mean max min     sum count      mean  max min
weekday
0          387   286  1.353147  13   0     960   286  3.356643   18   0
1          303   242  1.252066   6   0     818   242  3.380165   14   0
2          402   245  1.640816  17   0     783   245  3.195918   22   0
3          415   249  1.666667  10   0     778   249  3.124498   16   0
4          393   279  1.408602  10   0     943   279  3.379928   13   0
5          506   530  0.954717  11   0    2066   530  3.898113   25   0
6          778   674  1.154303  59   0    3236   674  4.801187  422   0

In [0]:
df_ms.groupby('state')['killed','wounded'].agg(['sum','count','mean','max','min'])

      killed                         wounded
         sum count      mean max min     sum count       mean  max min
state
AK         8     3  2.666667   4   0       6     3   2.000000    6   0
AL        81    66  1.227273   6   0     232    66   3.515152   12   0
AR        21    19  1.105263   4   0      96    19   5.052632   25   1
AZ        80    38  2.105263   5   0     100    38   2.631579    7   0
CA       350   283  1.236749  16   0    1060   283   3.745583   22   0
CO        51    33  1.545455   4   0     106    33   3.212121    9   0
CT        12    20  0.600000   4   0      88    20   4.400000   13   0
DC        22    32  0.687500  13   0     144    32   4.500000   13   3
DE         9    11  0.818182   5   0      43    11   3.909091    6   0
FL       299   182  1.642857  50   0     725   182   3.983516   53   0
GA       120   102  1.176471   6   0     366   102   3.588235   10   0
IA         5     7  0.714286   2   0      26     7   3.714286    5   2
ID         7     2  3.500000   4   3       1     2   0.500000    1   0
IL       182   215  0.846512   6   0     857   215   3.986047   13   0
IN        50    59  0.847458   4   0     221    59   3.745763    9   0
KS        49    25  1.960000   5   0      78    25   3.120000   14   0
KY        42    31  1.354839   5   0     113    31   3.645161   14   0
LA       100    95  1.052632   5   0     391    95   4.115789   19   0
MA         9    17  0.529412   2   0      70    17   4.117647    7   2
MD        68    59  1.152542   5   0     216    59   3.661017    8   0
ME        16     5  3.200000   5   1       8     5   1.600000    4   0
MI        68    77  0.883117   6   0     298    77   3.870130   11   0
MN        26    26  1.000000   5   0      97    26   3.730769    9   0
MO       103    79  1.303797   8   0     263    79   3.329114    8   0
MS        53    38  1.394737   8   0     128    38   3.368421    7   0
MT         8     3  2.666667   5   0       6     3   2.000000    4   0
NC        85    81  1.049383   4   0     283    81   3.493827    8   0
ND         6     2  3.000000   4   2       2     2   1.000000    2   0
NE         6     7  0.857143   3   0      33     7   4.714286    7   3
NJ        53    70  0.757143   4   0     266    70   3.800000   17   0
NM        41    19  2.157895   5   0      46    19   2.421053    6   0
NV        98    27  3.629630  59   0     495    27  18.333333  422   0
NY        76   102  0.745098   5   0     398   102   3.901961    9   0
OH       125    95  1.315789   8   0     343    95   3.610526   15   0
OK        46    33  1.393939   4   0     101    33   3.060606    8   0
OR        23     9  2.555556  10   0      30     9   3.333333    9   0
PA       112    97  1.154639  11   0     353    97   3.639175   10   0
PR        11     3  3.666667   4   3      10     3   3.333333    6   1
RI         0     4  0.000000   0   0      17     4   4.250000    5   4
SC        75    48  1.562500   9   0     157    48   3.270833    8   0
SD        10     2  5.000000   6   4       1     2   0.500000    1   0
TN        90    94  0.957447   6   0     356    94   3.787234   10   0
TX       314   163  1.926380  27   0     568   163   3.484663   20   0
UT        22     9  2.444444   5   0      18     9   2.000000    6   0
VA        67    58  1.155172   6   0     204    58   3.517241   10   0
VT         4     1  4.000000   4   4       0     1   0.000000    0   0
WA        50    28  1.785714   5   0      81    28   2.892857    6   0
WI        18    20  0.900000   5   0      69    20   3.450000    5   0
WV        11     5  2.200000   5   0      12     5   2.400000    6   0
WY         2     1  2.000000   2   2       2     1   2.000000    2   2

262 cases with the number of people killed more than or equal to 4

In [0]:
(df_ms.killed >= 4).sum()

262

breakdown to the number for each year

In [0]:
df_ms.loc[df_ms.killed >= 4].groupby('year')['killed'].count()

year
2013    47
2014    29
2015    40
2016    43
2017    44
2018    46
2019    13
Name: killed, dtype: int64

breakdown to the number for each states

In [0]:
df_ms.loc[df_ms.killed >= 4].groupby('state')['killed'].count()

state
AK     2
AL     6
AR     1
AZ     8
CA    23
CO     3
CT     1
DC     1
DE     1
FL    16
GA     7
ID     1
IL    13
IN     4
KS     7
KY     4
LA     6
MD     5
ME     3
MI     5
MN     2
MO    10
MS     5
MT     1
NC     7
ND     1
NJ     2
NM     5
NV     5
NY     8
OH    11
OK     6
OR     2
PA    11
PR     2
SC     8
SD     2
TN     6
TX    31
UT     3
VA     6
VT     1
WA     6
WI     2
WV     2
Name: killed, dtype: int64