<a href="https://colab.research.google.com/github/ttussing/US-Gun-Exploration-Visualization/blob/master/US_Gun_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Things to do 
#Describe how we gathered and cleaned the data 
#2-3 datasets 
#Feature Engineering 
#Describe features 
#Descriptive statistics 
#Describe why we chose the data?

In [0]:
import pandas as pd
import numpy as np
from google.colab import files

In [0]:
world_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/World_firearms.csv'
state_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/Firearm%20Deaths%20Per%20State%20Per%20Year/All_Firearm_Deaths_State_Year.csv'
ms_url = 'https://raw.githubusercontent.com/ttussing/US-Gun-Exploration-Visualization/master/Mass%20Shooting/Mass_Shooting_Data_2013-2019.csv'
df_world = pd.read_csv(world_url,index_col=0)
df_state = pd.read_csv(state_url,index_col=0)
df_ms = pd.read_csv(ms_url,index_col=0)

## World Firearms Data
**Allows us to see which countries have the highest firearm ownership rates and which have the highest murder rates.**

[Article Describing the Data Set](https://www.theguardian.com/news/datablog/2012/jul/22/gun-homicides-ownership-world-list#data)

**Description of the Dataset:**

- A collection of data about the world's firearms murders and gun ownership statistics were compiled in a [Google Sheet](https://docs.google.com/spreadsheets/d/1chqUZHuY6cXYrRYkuE0uwXisGaYvr7durZHJhpLGycs/edit#gid=0). 
- The data is compiled from 2 data sources:

  - The data on firearm homicides was collected by the UNODC through its annual crime survey. This includes the percent of homicides from using a firearm, the number of homicides from using a firearm, and the rate of homicide rate per 100,000 in the population. 
   
  - The data on gun ownership was collected by the small arms survey. This includes the average firearms per 100 people, the average number of civilian firearms, and rank by the rate of gun ownership. The data has been normalized for a rate per 100,000 population. 

- Limitations:
  - Data is missing for Russia, China, and Afghanistan
  - While the Google Spreadsheet says that it is being automatically updated every 5 minutes, the columns for homicide per country that was collected from the UNODC doesn't have information about what year it is for.
   - The data is from an annual crime survey, and it doesn't say if the numbers are being averaged across all years, or if the numbers are for the latest year
  - The data from the small arms survey is only from 2007. 


**Takeaways from this Dataset:**

- The United States has the highest gun ownership in the World. 

- Centra/South America leads on all murder stats, far ahead of US
is ahead in murder only when filtering for high HDI countries.

- The US has less than 5% of the world's population but is home to about 35-50% of the world's civilian-owned guns.

In [0]:
df_world.head()

                  ISO code  ... Average total all civilian firearms
Country/Territory           ...
Albania                 AL  ...                            270000.0
Algeria                 DZ  ...                           1900000.0
Angola                  AO  ...                           2800000.0
Anguilla                AI  ...                                 NaN
Argentina               AR  ...                           3950000.0

[5 rows x 8 columns]

## United States Firearms Data

In [0]:
df_state.head()

                     Sex       Race  ... Crude Rate Age-Adjusted Rate
Type                                 ...
Unitentional  Both Sexes  All Races  ...       1.15        1.15722772
Unitentional  Both Sexes  All Races  ...       0.76        0.76222845
Unitentional  Both Sexes  All Races  ...       0.92       0.926071313
Unitentional  Both Sexes  All Races  ...          1       0.997164737
Unitentional  Both Sexes  All Races  ...       0.84        0.82537211

[5 rows x 13 columns]

In [0]:
df_ms.head()

                          name_semicolon_delimited  ...                        sources_semicolon_delimited
date                                                ...
5/15/19  Unkown (victims included a 5-yr-old girl)  ...  https://abc7.com/3-men-5-year-old-girl-shot-at...
5/13/19                                    Unknown  ...  https://www.stltoday.com/news/local/crime-and-...
5/13/19      Unknown (victims included 1 juvenile)  ...  https://www.wdsu.com/article/four-injured-in-c...
5/12/19                                    Unknown  ...  https://6abc.com/5-hurt-after-gunmen-open-fire...
5/11/19                              Thomas Modzel  ...  https://wnep.com/2019/05/11/four-people-shot-a...

[5 rows x 6 columns]